* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f2f5;
}

img {
    width: 100%;
    height: 100%;
    background-size: cover;
    padding: 10px;
    display: flex;
}

.logo-facebook {
    width: 66px;
    margin-left: 10px;
}

hr {
    border: none;
    height: 1px;
    background-color: #ccc;
}

.imgContainer {
    background-color: white;
    width: 600px;
    height: 400px;
    border-radius: 20px;
    margin-top: 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter {
    display: flex;
    align-items: center;
}

.busca {
    width: 250px;
    height: 40px;
    border-radius: 25px;
    border-color: transparent;
    background-color: #e6e6e6d0;
}

header {
    background-color: white;
    width: 100%;
    position: fixed;
}

::placeholder {
    font-size: 15px;
}

input {
    padding-left: 35px;
}

.lupa {
    width: 40px;
    z-index: 1;
    margin-right: -40px;
}

img {
    border-radius: 30px;
}

.blank {
    height: 90px;
}